*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    background-color: #00ffff;
    /* display: flex; */
    width: 100%;
    justify-content: center;
 
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */
    
}

section div{
    flex-basis: 30%;
    border: 1px solid black;
}

.flexone{
    /* flex: 2; */
    background-color: yellow;
}
.flextwo{
    /* flex: 1; */
    background-color: red;

}
.flextree{
    /* flex: 1; */
    background-color: blue;
}

/* main{
    background-color: cyan;
    display: flex;
    
}

main div{
    border: 1px solid black;
}

.flex4{
    flex: 1;
}
.flex5{
    flex: 2j;
}
.flex6{
    flex: 1;
} */




@media(min-width:768px){

    section{
       
        display: flex;
        width: 100%;
       
        /* justify-content: space-around; */
        /* justify-content: space-between; */
        /* justify-content: space-evenly; */
        /* align-items: flex-start; */
        
    }

}
