<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="mycss3.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="para">
        <p >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, ab. Rerum quis dignissimos nostrum porro, dolorum dolores iure repellendus saepe fuga nihil maxime nulla praesentium eaque officiis incidunt consequatur ducimus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea incidunt perferendis modi voluptatum eius neque maxime voluptas! Error, incidunt obcaecati quod quis accusantium aperiam, eligendi harum non est repudiandae nam?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nulla ipsa incidunt sapiente nam blanditiis minima enim consectetur laboriosam nihil nisi totam officia sequi ex, numquam voluptatum optio! Distinctio, eligendi?
        </p>
    </div>
    <div id="text-wrap"> You cant breack the line hereeeeeeeeeeeeeeeeeeeeeeehjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjeeeeeeeeeeeeeeeeeeeee</div>
</body>
</html>